* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: changa-one, sans-serif;
  font-size: 14px;
  background-color: #03031A;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
  
}

header {
  border-bottom: 1px #ccc solid;
  background: rgb(3, 46, 102);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  line-height: 1;
  font-family: monospace;
  color: white;
}

main {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 white;
  font-size: 1.25rem;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
  font-size: 1.5rem;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card .image .price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  background: white;
}

.card .image img {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
  background: rgb(3, 88, 199);
  color: white
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
}
